<h1>Events#index</h1>

<header class="bg-info text-light">
<div class="container text-center">
  <h1>Welcome to Eventbrite</h1>
  <p class="lead">Découvrez les évenements de la communauté :</p>
</div>
</header>
<br><br>

<% @events.each do |event| %>

    <% if event.validated %>


        <div class="container">
            <div class="card shadow mb-4">
            <!-- Card Header - Dropdown -->
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-dark"><%= event.title  %> à <%= event.location  %></h6>
                <div class="dropdown no-arrow">
                <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                </a>
                <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink">
                    <div class="dropdown-header">Organisateur :</div>
                
                    <%= link_to event.user.email, user_path(:id => event.user.id), class: "dropdown-item" %>
                </div>
                </div>
            </div>
            <%if event.avatar.attached?%>
            <img class="img" <%= image_tag event.avatar, alt: 'illustration' %>
            <% end %>
            <!-- Card Body -->
            <div class="card-body">
                <div class="chart-area">
                <p class="card-text"><%= event.description  %></p>
                <p class="card-text">Débute le <%= event.start_date.to_date  %></p>
                <footer class="blockquote-footer"><%= event.duration  %> jours / <%= event.price  %> € / <%= event.location  %> / REF°<%= event.id  %></footer>
                <br>        



                <%= link_to "En savoir plus", event_path(:id => event.id), class: 'btn btn-info' %>
                </div>
            </div>
            </div>
        </div>

    <% end %>

<% end %>

