<h1>Events#show</h1>


<section id="about">
<div class="container">
  <div class="row">
    <div class="col-lg-8 mx-auto">
      <h2><%= @event.title %> à <%= @event.location %></h2>
      <p class="lead"><%= @event.description %></p>
      <br>
      <div class="text-center">
        <%if @administrator == true%>
        <%= link_to "Administration", event_attendances_path(:event_id => @event.id ), :class => "btn btn-primary btn-lg"  %>
        <%elsif @attendances == false && @event.price.zero? %>
        <%= link_to "Je participe gratuitement", event_attendances_path(:event_id => @event.id ), method: :post, :class => "btn btn-primary btn-lg"  %>
  
        <%elsif @attendances == false %>
        <%= link_to "Je participe", new_event_attendance_path(:event_id => @event.id ), :class => "btn btn-primary btn-lg"  %>
  
        <%else%> 
        <%= link_to "Déjà inscrit", user_path(:id => @user), :class => "btn btn-primary btn-lg"  %>
        <%end%>
      </div>
    </div>
  </div>
</div>
</section>


<section id="services" class="bg-light"><div class="container">
  <div class="row">
    <div class="col-lg-8 mx-auto">
      <h2>À propos</h2>
      <p class="lead">Voici toutes les informations concernant cet event :</p>
      <ul>
        
        <li>Son organisateur : <%= link_to @event.user.email , user_path(:id => @event.user.id)%></li>
        <li>Nombre d'inscrits: <%= @count %></li>
        <li>Dates : <%= @event.start_date.to_date %> --> <%= @end_date %> (<%= @event.duration%> jours)</li>
        <li>Prix total : <%= @event.price %> euros</li>
        <li>Lieu : <%= @event.location %></li>
        <li>Créé le : <%= @event.created_at.to_date %></li>
        <li>Sa référence : Event N°<%= @event.id %></li>
      </ul>
      <br>
      <div class="text-center">
      <br>
      <%if @administrator == true%>
      <%= link_to "Administration", user_path(:id => @user), :class => "btn btn-primary btn-lg"  %>



      <%elsif @attendances == false && @event.price.zero? %>
      <%= link_to "Je participe gratuitement", event_attendances_path(:event_id => @event.id ), method: :post, :class => "btn btn-primary btn-lg"  %>

      <%elsif @attendances == false %>
      <%= link_to "Je participe", new_event_attendance_path(:event_id => @event.id ), :class => "btn btn-primary btn-lg"  %>







      <%else%> 
      <%= link_to "Déjà inscrit", user_path(:id => @user), :class => "btn btn-primary btn-lg"  %>
      <%end%>
      </div>
    </div>
  </div>
</div>
</section>



<%
=begin%>
<!--
    create_table "events", force: :cascade do |t|
    t.datetime "start_date"
    t.integer "duration"
    t.string "title"
    t.text "description"
    t.integer "price"
    t.string "location"
    t.bigint "user_id"
    t.datetime "created_at", null: false
    t.datetime "updated_at", null: false
    t.index ["user_id"], name: "index_events_on_user_id"
<%
=end %>